.overlay-left {
    position: fixed;
    height: 220px;
    width: 60px;
    background: rgba(69, 75, 80, 0.3);
    top: 35vh;
    left: 0;

}

.overlay-right{
    position: fixed;
    height: 120px;
    width: 60px;
    background: rgba(69, 75, 80, 0.3);
    top: 35vh;
    right: 0;
}

.color-card{
    height: 35px;
    width: 35px;
}

/*Bootstrap Light Color Pallet*/
.color-1{
    background-color: #007bff;
}

/*Bootstrap Dark Color Pallet*/
.color-2{
    background-color: #343a3f;
}

