/* Left Arrows */
.left::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 22px;
    right: 20px;
    border: 20px solid transparent;
    border-left-color: white;
    border-right-width: 0;
    z-index: 1;
}

/* Right Arrows */
.right::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 22px;
    left: 20px;
    border: 20px solid transparent;
    border-right-color: white;
    border-left-width: 0;
    z-index: 1;
}

@media (max-width: 1000px) {
    /* Point All Arrows Left */
    .left::before, .right::before {
        left: 24px;
        border: 20px solid transparent;
        border-right-color: white;
        border-left-width: 0;
    }
}