body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
}

/* Containing Line*/
.timeline-line {
    position: relative;
}

/* Styling Line */
.timeline-line::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: white;
    top: 0;
    bottom: 0;
    margin: -3px;
    left: 50%;
}

/* Timeline Containers */
.timeline-item {
    position: relative;
    width: 50%;
}

/* Timeline Markers */
.timeline-item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    top: 30px;
    background-color: white;
    border-radius: 50%;         /*makes circle*/
    z-index: 1;                 /*places on top*/

}

/* Setting Container Side */
.left {
    left: 0;
}

.right {
    left: 50%;
}

/* Sets Dots For Right Side In Correct Place */
.right::after {
    left: -13px;
}

/*Smaller Screens*/
@media (max-width: 1000px) {
    /* All Cards And Line Align Left */
    .timeline-line::after {
        left: 20px;
    }

    .right {
        left: 0;
    }

    .timeline-item{
        width: 100%;
    }

    /* Reset The Dots */
    .left::after, .right::after {
        left: -4px;
    }
}